body {
    font-family: "Monsterrat", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -80px;

}

a, a:hover{
    text-decoration: none;

}

#topbar {
    background-color: #15477A;
    color : #fff;
    height: 50px;
    line-height: 50px
}

.top-contact, .sosmed {
    list-style: none;
    padding: 0px;

}

#topbar li {
    display: inline-block;

}

#topbar li a {
    color: #fff;
    display: inline-block;
    padding: 0 20px;
}


#topbar li a i {
    color: #ebd234;
    margin-right: 5px;
}

#topbar .sosmed li a {
    padding: 0 5px;

}

#topbar .sosmed li a i {
    color: #fff;
}


/* css untuk header*/
header{
    padding: 30px 0;
    margin-top: -80px;

}

.brand {
    display: flex;

}

.brand img{
    margin-right: 20px;

}

.brand .brand-name h1{
    font-size: 25px;
    color: #0051b5;
    text-transform: uppercase;

}

.brand .brand-name h3{
    font-size: 18px;
    font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #b9bbbd;

}

/* CSS untuk Navbar */

.navbar {
    padding: 0px;
    border-bottom: 5px solid #ebd234;

}

.nav-link {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.40px;

}

a.nav-link:hover{
    background-color: #ebd234;

}

.bg-biru {
    background-color: #15477A!important;
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link{
    color: #fff;

}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{
    color: #fff;

}


li.nav-item.active a {
    color: #15477A;

}


.navbar-dark .navbar-nav .nav-link {
    padding: 15px 20px;
    display: inline-block;
}

/* CSS untuk Slider hero area */

.btn.btn-primary{
    background-color:  #15477A;
    color:  #ebd234;
    

}

button.btn.btn-primary.hero-bg{
    border-radius: 30px;

}

.btn.btn-primary:hover {
    background-color: #003c96;
    color: white;
}

#hero-area{
    position: relative;


}

#slider-hero {
    margin-top: -80px;
    margin-bottom: -40px;

}


#slider-hero-nav .owl-prev,
#slider-hero-nav .owl-next{
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background-color: #15477A;
    color: #fff;
    outline: none;
    padding: 10px 20px;
    font-size: 20px;
    transition: background-color 0.3s;

}

#slider-hero-nav .owl-prev {
    left: 0;
    border-radius: 0 50px 50px 0;

}

#slider-hero-nav .owl-next{
    right: 0;
    border-radius: 50px 0  0 50px;

}

#slider-hero-nav .owl-prev:hover,
#slider-hero-nav .owl-next:hover {
    cursor: pointer;
    background-color: #ebd234;

}

#hero-area .slider-item-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.7);
    padding: 20px;
    text-align: center;
    font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
}



#hero-area .slider-item-content h2 {
    font-size: 32px;
    font-weight: 500;
    color: #15477A;

}

#hero-area .slider-item-content p {
    font-size: 18px;


}

/* CSS untuk section profil */

#profil {
    margin: 40px 0;
}

#profil h2 {
    color: #15477A;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;    

}

#profil h3{
    color: #15477A;
    font-size: 28px;
    font-weight: 600;
}

#profil p {
    font-size: 14px;
    font-family: Raleway, sans-serif;
    font-weight: 500;
    line-height: 28px; 
}

/* CSS untung section prestasi */

#prestasi {
    min-height: 250px;
}

#prestasi .col-item-kanan{
    padding: 20px 50px 20px 20px;

}

.section-item-thumbnail {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 300px;
    max-height: 100%;

}

.section-title {
    margin-bottom: 60px;
    text-align: center;

}

.section-item {
    margin: 90px 0;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
    min-height: 250px;
    overflow: hidden;

}

.section-title h2 {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    font-size: 28px;
    text-transform: uppercase;
    color: #15477A;
    font-weight: 600;

}

.section-title h2:after {
    position: absolute;
    content: "";
    width: 60%;
    height: 3px;
    background-color: #ebd234;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
}

.section-item-title{
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px 0; 
}

.section-item-title h3 {
    font-size: 18px;
    color: #15477A;
    line-height: 25px;
    font-weight: 600;
    padding-right: 40px;
}

.section-item-title span i{
    margin-right: 5px;
}

.section-item-title span {
    font-size: 12px;
    color: #666;
    font-weight: 600;
} 

.section-item-title span:first-of-type{
    margin-right: 15px;
}

.section-item-body p{
    font-size: 12px;
    line-height: 25px;
    color: #666;
}

.tombol-selengkapnya {
    text-align: center;
}


.btn.btn-more{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #15477A;
    text-align: center;
    display: inline-block;
    border: 2px solid #15477A;
    border-radius: 0;
    padding: 10px 30px;
    transition: background-color 0.5s;
}

.btn.btn-more:hover {
    background-color: #15477A;
    color: white;
}

section {
    margin: 80px 0;
}

/*css untuk slider*/
/* 
.owl-item {
    padding: 20px 10px;

} */

.section-item-slider {
    height: 350px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
    margin: 10px 0;
    

}

#tenaga-pendidik .foto-guru,
#galeri .foto-guru {
    height: 100%;
    object-fit: cover;
}

.section-item-caption {
    position: absolute;
    bottom: 0;
    background-color: #fff;
    color: #000;
    display: block;
    width: 100%;
    text-align:center;
    padding: 20px 10px 15px;
    
}

.section-item-caption h5 {
    color: #15477A;
    font-size: 18px;
    font-weight: 500;
}

.section-item-caption h6 {
    font-size: 18px;
    color: #ebd234;
    text-transform: uppercase;
    font-weight: 600;

}


#tenaga-pendidik .section-body {
    position: relative;

}

#slider-tools-1 .owl-next,
#slider-tools-1 .owl-prev,
#slider-tools-3 .owl-next,
#slider-tools-3 .owl-prev{
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: -60px;
    z-index: 20;
    background-color: #15477A;
    border: none;
    height: 35px;
    width:35px;
    color: #fff;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 20px #ddd;
    transition: background-color 0.5s;

}

#slider-tools-1 .owl-prev,
#slider-tools-3 .owl-prev {
    left: -60px;  
}

#slider-tools-1 .owl-next:hover,
#slider-tools-1 .owl-prev:hover,
#slider-tools-3 .owl-next:hover,
#slider-tools-3 .owl-prev:hover {
    cursor: pointer;
    background-color: #ebd234;
    color: black;
}

/*css untuk alumni*/

#alumni {
    background-color: #15477A;
    padding: 80px 0;
    
}

#alumni .section-title h2 {
    color: white;

}

#alumni .section-item-slider {
    box-shadow: none;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 5px;
}

#alumni .section-item-slider {
    height: 300px;
    padding: 20px;
}

#alumni .section-item-content h3{
    font-size: 18px;
    font-weight: 500;
    color: #ebd234;
}

#alumni .section-item-content p {
    font-size: 14px;
    color: #fff;
    line-height: 26px;

}

#alumni .section-item-content .selengkapnya{
    color: #ebd234;
}


.foto-alumni {
    height: 100%;
    object-fit: cover;
}

.section-body {
    position: relative;
}

#slider-tools-2 .owl-next,
#slider-tools-2 .owl-prev {
    position: absolute;
    background-color: #fff;
    top: 50%;
    right: -50px;
    z-index: 20;
    border: none;
    height: 35px;
    width: 35px;
    outline: none; 
    border-radius: 50%;
    transition: background-color 0.5s;
    box-shadow: 0 0 7px #ddd;
}

#slider-tools-2 .owl-prev {
    left: -50px;
}

#slider-tools-2 .owl-next:hover,
#slider-tools-2 .owl-prev:hover {
    cursor: pointer;
    background-color: #ebd234;
    color: white;
}

/* CSS untuk section ekskul */

#ekstrakurikuler {
    background-color:#ddd;
    padding: 80px;
}

#ekstrakurikuler .section-body-item{
    background-color: #15477A;
    border-radius: 10px;
    padding:50px;
    color: #ebd234;
    height: 200px;
    text-align: center;
    align-items: center;
    font-size: 28px;
    margin-bottom: 20px;


}

#ekstrakurikuler .section-body-item h4 {
    font-size: 32px;
    font-weight: 400;
   

}

#ekstrakurikuler .row-2 {
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

/* CSS untuk berita */

#berita .row:first-of-type {
    margin-bottom: 50px;
}

.section-thumbnail {
    width: 100%;
    height: 240px;
    overflow: hidden;
    position: relative;
}

.section-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    

}

.section-thumbnail .tanggal {
    position: absolute;
    bottom: 10px;
    z-index: 10;
    left: 15px;
    background-color: #15477A;
    color: #ebd234;
    padding: 5px 7px;
    border-radius: 5px;
}

.section-thumbnail .tanggal span.tgl {
    display: block;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: -10px;
}

.section-thumbnail .tanggal span.bln {
    font-size: 10px;
}

#berita .section-content {
    padding:20px 0 0;
}

#berita .section-content h3 {
    font-size: 16px;
    font-weight: 600;
    color: #15477A;
    line-height: 24px;
}

#berita .section-content p {
    font-size: 14px;
    color: #777777;
    line-height: 24px;
    text-align: justify;
}

.section-meta a {
    background-color: #15477A;
    color: #fff;
    padding: 5px 15px;
    font-size: 11px;
    text-transform: uppercase;
}

a.btn.btn-primary.kecil{
    font-size: 13px;
}

.section-meta a i {
    margin-right: 5px;

}

.tombol-selengkapnya.berita {
    margin-top: 50px;
   
}

/* CSS untuk footer */

footer {
    background-color: #15477A;
    color: #fff;
    padding: 80px 0 0;
}

footer .footer-col:first-of-type {
    padding-right: 30px;
}

footer .brand {
    display: flex;
}

footer .brand img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

footer .brand h1 {
    font-size: 25px;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;

}

footer .tentang {
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 25px;
    margin-top: 10px;
    border-bottom: 1px dashed rgba(255,255,255,0.5);
    text-align: justify;
}


footer .sosmed {
    
    margin: 0;
    padding: 0;
}

footer .sosmed li {
    display: inline-block;
    margin-right: 20px;

}


footer .sosmed li a {
    color: #fff;
    border: 1px solid rgba(255,255,255,0.5);
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 25px;
    line-height: 46px;
}

footer .sosmed li a:hover {
    color: #777777;
}

.footer-col h2 {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}

.ul-alamat {
    list-style: none;
    margin : 0;
    padding: 0;
   
}

.ul-alamat a {
    color: #fff ;
}

.footer-col .alamat{
    font-size: 14px;
    line-height: 25px;
    margin-top: 50px;
}

.footer-col .ul-alamat i {
    margin-right: 10px;
}

.footer-col .ul-alamat li {
    margin: 10px 0;
}

.footer-col .footer-nav{
    margin-top: 50px;
    list-style: none;
    padding: 0;
    
}

.footer-nav li {
    margin:10px;
}

.footer-col .footer-nav a {
    color: #fff;
    transition: border 0.5s;
}

.footer-col .footer-nav a:hover {
    border-bottom: 1px dashed rgba(255,255,255,0.5);
}

.footer-copyright .container {
    border-top: 1px solid rgba(255,255,255,0.5) ;
    padding: 15px 0;
}

.footer-copyright {
    margin-top: 60px;
    font-size: 16px;
    color: #cecece;
   

}






