{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="{% static "css/bootstrap-watch-journal.min.css" %}"
    rel="stylesheet">
    <style>
      body {
        font-size: 9px;
        font-weight: 100;
      }
      td {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div>
        <br /><br /><br />
        {{nama}}<br />
        {{id}}<br />
      </div>
      <table id="table" border=1 cellspacing="0">
        <tr>
          <th rowspan="2">Mata Pelajaran</th>
          <th colspan="4">Pengetahuhan</th>
          <th colspan="4">Keterampilan</th>
        </tr>
        <tr>
          <th>KKM</th>
          <th>NILAI</th>
          <th>PREDIKAT</th>
          <th>DESKRIPSI</th>
          <th>KKM</th>
          <th>NILAI</th>
          <th>PREDIKAT</th>
          <th>DESKRIPSI</th>
        </tr>
        <tr>
          <td>MATEMATIKA <br />lulus sri wahyuni</td>
          <td>76</td>
          <td>90</td>
          <td>A</td>
          <td>
            Labore atque possimus id iusto eligendi, eaque fuga. Ullam, amet
            veritatis!
          </td>
          <td>76</td>
          <td>90</td>
          <td>A</td>
          <td>
            Labore atque possimus id iusto eligendi, eaque fuga. Ullam, amet
            veritatis!
          </td>
        </tr>
        <tr>
          <td>MATEMATIKA <br />lulus sri wahyuni</td>
          <td>76</td>
          <td>90</td>
          <td>A</td>
          <td>
            Labore atque possimus id iusto eligendi, eaque fuga. Ullam, amet
            veritatis!
          </td>
          <td>76</td>
          <td>90</td>
          <td>A</td>
          <td>
            Labore atque possimus id iusto eligendi, eaque fuga. Ullam, amet
            veritatis!
          </td>
        </tr>
        <tr>
          <td>MATEMATIKA <br />lulus sri wahyuni</td>
          <td>76</td>
          <td>90</td>
          <td>A</td>
          <td>
            Labore atque possimus id iusto eligendi, eaque fuga. Ullam, amet
            veritatis!
          </td>
          <td>76</td>
          <td>90</td>
          <td>A</td>
          <td>
            Labore atque possimus id iusto eligendi, eaque fuga. Ullam, amet
            veritatis!
          </td>
        </tr>
        <tr>
          <td>MATEMATIKA <br />lulus sri wahyuni</td>
          <td>76</td>
          <td>90</td>
          <td>A</td>
          <td>
            Labore atque possimus id iusto eligendi, eaque fuga. Ullam, amet
            veritatis!
          </td>
          <td>76</td>
          <td>90</td>
          <td>A</td>
          <td>
            Labore atque possimus id iusto eligendi, eaque fuga. Ullam, amet
            veritatis!
          </td>
        </tr>
        <tr>
          <td>MATEMATIKA <br />lulus sri wahyuni</td>
          <td>76</td>
          <td>90</td>
          <td>A</td>
          <td>
            Labore atque possimus id iusto eligendi, eaque fuga. Ullam, amet
            veritatis!
          </td>
          <td>76</td>
          <td>90</td>
          <td>A</td>
          <td>
            Labore atque possimus id iusto eligendi, eaque fuga. Ullam, amet
            veritatis!
          </td>
        </tr>
        <tr>
          <td>MATEMATIKA <br />lulus sri wahyuni</td>
          <td>76</td>
          <td>90</td>
          <td>A</td>
          <td>
            Labore atque possimus id iusto eligendi, eaque fuga. Ullam, amet
            veritatis!
          </td>
          <td>76</td>
          <td>90</td>
          <td>A</td>
          <td>
            Labore atque possimus id iusto eligendi, eaque fuga. Ullam, amet
            veritatis!
          </td>
        </tr>
        <tr>
          <td>MATEMATIKA <br />lulus sri wahyuni</td>
          <td>76</td>
          <td>90</td>
          <td>A</td>
          <td>
            Labore atque possimus id iusto eligendi, eaque fuga. Ullam, amet
            veritatis!
          </td>
          <td>76</td>
          <td>90</td>
          <td>A</td>
          <td>
            Labore atque possimus id iusto eligendi, eaque fuga. Ullam, amet
            veritatis!
          </td>
        </tr>
        <tr>
          <td>MATEMATIKA <br />lulus sri wahyuni</td>
          <td>76</td>
          <td>90</td>
          <td>A</td>
          <td>
            Labore atque possimus id iusto eligendi, eaque fuga. Ullam, amet
            veritatis!
          </td>
          <td>76</td>
          <td>90</td>
          <td>A</td>
          <td>
            Labore atque possimus id iusto eligendi, eaque fuga. Ullam, amet
            veritatis!
          </td>
        </tr>
        <tr>
          <td>MATEMATIKA <br />lulus sri wahyuni</td>
          <td>76</td>
          <td>90</td>
          <td>A</td>
          <td>
            Labore atque possimus id iusto eligendi, eaque fuga. Ullam, amet
            veritatis!
          </td>
          <td>76</td>
          <td>90</td>
          <td>A</td>
          <td>
            Labore atque possimus id iusto eligendi, eaque fuga. Ullam, amet
            veritatis!
          </td>
        </tr>
        <tr>
          <td>MATEMATIKA <br />lulus sri wahyuni</td>
          <td>76</td>
          <td>90</td>
          <td>A</td>
          <td>
            Labore atque possimus id iusto eligendi, eaque fuga. Ullam, amet
            veritatis!
          </td>
          <td>76</td>
          <td>90</td>
          <td>A</td>
          <td>
            Labore atque possimus id iusto eligendi, eaque fuga. Ullam, amet
            veritatis!
          </td>
        </tr>
        <tr>
          <td>MATEMATIKA <br />lulus sri wahyuni</td>
          <td>76</td>
          <td>90</td>
          <td>A</td>
          <td>
            Labore atque possimus id iusto eligendi, eaque fuga. Ullam, amet
            veritatis!
          </td>
          <td>76</td>
          <td>90</td>
          <td>A</td>
          <td>
            Labore atque possimus id iusto eligendi, eaque fuga. Ullam, amet
            veritatis!
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
