{% extends "dashboard/base.html" %}
{% load crispy_forms_tags%}
{% block  content %}

<div class="row">
    <div class="col-lg-11">
        <div class="panel-body">
                <div class="table-responsive">
                    <form method="get">
							</div>
							<div class="row">
								<div class="form-group col-md-3">
								{{my_filter.form.kd_mapel|as_crispy_field}}
								</div>
								<div class="form-group col-md-3">
									{{my_filter.form.nama_mapel|as_crispy_field}}
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-3">
									<button type="submit" class="btn btn-info">Cari</button>
								</div>
							</div>
						</form>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Mata Pelajaran</th>
                                <th>Kode</th>
                                <th>Jenis</th>
                            </tr>
                        </thead>
                        <tbody>

                        {% for mp in mapel  %}
                        	<tr>
                                <td>{{ forloop.counter0|add:mapel.start_index }}</td>
                                <td>{{mp.nama_mapel}}</td>
                                <td>{{mp.kd_mapel}}</td>
                                <td>{{mp.jenis}}</td>
                                <td><a class="btn btn-primary" href="{% url 'dashboard:update-mapel' mp.id %}" style="margin-right:10px;">Edit</a>
                                    <a class="btn btn-danger hapus" href="{% url 'dashboard:hapus-mapel' mp.id %}" >Hapus</a>
                                </td>
                            </tr>
                        {% endfor  %}

                        </tbody>
                    </table>
                    
                    {% if mapel.has_other_pages%}
							<!--Pagination -->
							{% with request.get_full_path as querystring %}
							<ul class="pagination">
	<!--							Previous Page Section-->
								  {% if mapel.has_previous%}
									  {% if 'kd_mapel' or 'nama_mapel' in querystring %}
											{% if 'page in querystring'  %}
												<li class="page-item">
												   <li><a href="{{ querystring|slice:':-7' }}&page={{ mapel.previous_page_number }}">&laquo;</a></li>
												</li>
											{% else %}
												<li class="page-item">
												   <li><a href="{{querystring}}&page={{ mapel.previous_page_number }}">&laquo;</a></li>
												</li>
											{% endif %}
									  {% else %}
										<li class="page-item">
										   <li><a href="?page={{ mapel.previous_page_number }}">&laquo;</a></li>
										</li>
									  {% endif %}

								  {% else %}
									<li class="disabled"><span>&laquo;</span></li>
								  {% endif %}

	<!--							All Page Section-->
								  {% for i in mapel.paginator.page_range  %}
									{% if 'kd_mapel' or 'nama_mapel' in querystring%}
										{% if 'page' in querystring%}
											{% if mapel.number == i  %}
												<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
											{% else %}
												<li><a href="{{ querystring|slice:':-7' }}&page={{ i }}">{{ i }}</a></li>
											{% endif %}
										{% else %}
											{% if mapel.number == i  %}
												<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
											{% else %}
												<li><a href="{{ querystring}}&page={{ i }}">{{ i }}</a></li>
											{% endif %}
										{% endif %}
									{% else %}
										{% if mapel.number == i  %}
											<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
										{% else %}
											<li><a href="?page={{ i }}">{{ i }}</a></li>
										{% endif %}
									{% endif %}
								  {% endfor  %}

	<!--							Next Page Section-->
								  {% if mapel.has_next %}
									{% if 'kd_mapel' or 'nama_mapel'  in querystring %}
										{% if 'page' in querystring %} 
											<li><a href="{{ querystring|slice:":-7" }}&page={{ mapel.next_page_number }}">&raquo;</a></li>
										{% else %}
											<li><a href="{{ querystring}}&page={{ mapel.next_page_number }}">&raquo;</a></li>
										{% endif %}
									{% else %}
										<li><a href="?page={{ mapel.next_page_number }}">&raquo;</a></li>
									{% endif %}
								  {% else %}
									<li class="disabled"><span>&raquo;</span></li>
								  {% endif %}
							  </ul>
							{% endwith %}
						<!--end Pagination-->
						{% endif %}
                    	


                </div>
                <!-- /.table-responsive -->
            </div>
    </div>
</div>
{% endblock content %}

{% block  extrajs %}
	<script>
      $('.hapus').click(function(){
        return confirm('Apakah Anda Yakin ?');
      });
    </script>
{% endblock extrajs %}