{% extends "dashboard/base.html" %}


{% block  content %}
<div class="container">
    <div class="row">
        <div class="panel-heading">
             <h1 class="page-header">Data Pribadi</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Data Guru
                </div>
                <div class="panel-body">
                    <table style="width:100%">
                      <tr>
                        <td>Nama</td>
                        <td>:   {{guru.nama}}</td>
                      </tr>
                       <tr>
                        <td>NIP</td>
                        <td>:   {{guru.nip}}</td>
                      </tr>
                       <tr>
                        <td>Alamat</td>
                        <td>:   {{guru.alamat}}</td>
                      </tr>
                      <tr>
                        <td>Tanggal Lahir</td>
                        <td>:   {{guru.tgl_lahir}}</td>

                      </tr>
                      <tr>
                        <td style="display:block">Mata Pelajaran </td>
                        <td>
                            {% for mp in mapel  %}
                            <li>
                                {{mp.nama_mapel}}
                            </li>
                            {% endfor  %}

                        </td>
                      </tr>
                    </table>
                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>
    </div>

</div>


{% endblock content %}















