{% extends "dashboard/base.html" %} {% load static %} {% block content %}

<div class="row">
  <div class="col-lg-12">
    {% ifequal user.groups.all.0.name "siswa" %}
    <h1 class="page-header">Welcome siswa {{user.data_siswa.nama}}</h1>
    {% endifequal %} {% ifequal user.groups.all.0.name "guru" %}
    <h1 class="page-header">Welcome guru {{user.data_guru.nama}}</h1>
    {% endifequal %} {% ifequal user.groups.all.0.name "staff_tu" %}
    <h1 class="page-header">Welcome Staff {{user.data_staff.nama}}</h1>
    {% endifequal %}
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

{% ifequal user.groups.all.0.name "staff_tu" %}
<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="glyphicon glyphicon-user fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">256</div>
            <div>JUMLAH MURID </div>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer">
          <span class="pull-left">View Details</span>
          <span class="pull-right"
            ><i class="fa fa-arrow-circle-right"></i
          ></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-users fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">32</div>
            <div>JUMLAH GURU</div>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer">
          <span class="pull-left">View Details</span>
          <span class="pull-right"
            ><i class="fa fa-arrow-circle-right"></i
          ></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-shopping-cart fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">18</div>
            <div>JUMLAH KELAS</div>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer">
          <span class="pull-left">View Details</span>
          <span class="pull-right"
            ><i class="fa fa-arrow-circle-right"></i
          ></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-red">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="glyphicon glyphicon-user fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">2</div>
            <div>JUMLAH JURUSAN</div>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer">
          <span class="pull-left">View Details</span>
          <span class="pull-right"
            ><i class="fa fa-arrow-circle-right"></i
          ></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
</div>
{% endifequal %} {% endblock content %}
